html,body {
	margin : 0px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
	font-size:14px;
	font-weight:bold;
	background-color:#000000;
	color:#00AA00;
	
}

#chat {
	margin: 0;
	overflow : auto;
}

.fixed{
	position:fixed;	
	
}
#statusbar{
	background-color:rgba(70,70,70,0.75);
	-moz-border-radius: 7px;
	border-radius: 7px;
	width:320px;
	padding:5px;
	height:18px;	
}

#chat > div div {
	position:relative;
	font-size: 8pt;	
	float:left;
}
/*Message div*/
#chat > div{
	padding:10px;
	margin-bottom:5px;	
    background-color:#494949;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
/*Chat Icon*/
#chat > div > img:nth-child(1){
	margin-top: -5px;
	margin-left: -5px;
    width:11px;
	display:block;
	float:left;
    height:11px;
   	-webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: url(drop-shadow.svg#drop-shadow);
}
/*Channel name*/
#chat > div div:nth-child(2){
	color:#D69B33;
	margin-top:-6px;
	margin-right:5px;
	margin-left:5px;
	font-size:8pt;
}
/*Username*/
#chat > div div:nth-child(3){
	color:#FFC042;
	font-size:8pt;
	margin-top: -6px;
}
/*Timestamp*/
#chat > div div:nth-child(4){
	color:#D69B33;
	display:block;
	float:right;
	margin-top:-6px;
	margin-right:5px;
	margin-left:5px;
    position:relative;
	font-size:8pt;
}
/*Text*/
#chat > div div:nth-child(5){	
	background-color:#303030;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	margin-top:8px;
	margin-left:-8px;
	margin-bottom:-8px;
	margin-right:-8px;
	padding:5px;
	clear:left;
	float:none;
	font-size:10pt;
	color:#9C9C9C;
}
a {
	color: #D69B33;	
	text-decoration:none;
	font-size:9pt;
}
a:hover{
	color: #FFC042;	
	text-decoration:none;
}

